body{
    font-family: Century;
    text-align:center;
    background-color: #DDDBF1;
}
h1{
    color: #3C4F76;
}
#balance{
    font-weight: bold;
}
input,select,button{
    padding: 8px;
    margin: 5px;
}
button{
    cursor:pointer;
}
ul{
    list-style:none;
    padding:0;
}
.tables {
    width: 100%;
    margin-top: 30px;
}

.income-section {
    float: left;
    width: 45%;
    margin-left: 3%;
}

.expense-section {
    float: right;
    width: 45%;
    margin-right: 3%;
}

table {
    width: 100%;
}
.tables::after {
    content: "";
    display: block;
    clear: both;
}